---
import '../styles/global.css'
import Sidebar from "../components/Sidebar.astro";
const { pathname } = Astro.url;
const { isEmployee = false } = Astro.props; // ← ya lo tenés, solo verificá que esté
const hideSidebar = pathname === "/" || pathname === "/login" || pathname === "/register";
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NexoPOS</title>
		<link rel="icon" type="image/png" href="/logoJoel.webp" />
	</head>
	<body class={`${hideSidebar ? "" : "flex"} bg-slate-50 min-h-screen`}>

		{!hideSidebar && <Sidebar isEmployee={isEmployee} />}

		<main class="flex-1 overflow-y-auto">
		<slot />
		</main>

	</body>
</html>